<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Zoom Workaround">

    <title>Zoom Waiting Room Alert</title>
    
    <link rel="stylesheet" href="/style.css">
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js" defer></script>
    
  </head>
  <body>
    <header>
      <h1>Stuck in the waiting room?</h1>
    </header>

    <main>
      <h2>Click below to send me a desktop alert!</h2>
      <br>
      <button onclick="buttonClicked()">Click Me!</button>
      <br>
      <p id="buttonCount">The button has been clicked 0 times.</p>
    </main>
		 <script>
       
       
		</script>
  </body>
</html>
